Screen {
    align: center top;
}

.form-title {
    align: center top;
    content-align: center middle;
    width: 100%;
    color: rgb(83, 200, 0);
}

.form-control {
    align: center middle;
    margin: 2;
}

Input {
    width: 80;
    margin: 2;
}

Select {
    width: 60;
    margin: 2;
}
